name: Quality Gate Checks

on:
  pull_request:

permissions:
  pull-requests: write
  contents: read

jobs:
  quality-gate:
    uses: ./.github/workflows/ci-build-test.yml
    with:
      sonar: ${{ github.ref == 'refs/heads/main' }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
