name: Release - Build, Test and Deploy

on:
  workflow_dispatch:

  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  quality-gate:
    uses: ./.github/workflows/ci-build-test.yml

  publish-docker:
    needs: quality-gate
    uses: ./.github/workflows/docker-publish.yml
    with:
      repository: ${{ vars.REPOSITORY }}
    secrets:
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
